div.game-modal-title{
    background-color: #B7BEB5;
    color:white;
}


div.game2_display{
    height: 300px;
    background-color: gray;
    border-radius: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding-top: 30px;
}

div.game2_random_container{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    background-color: #fff;
}

div.game2_random_container p{
    color: gray;
    font-size: 80px;
    padding-top: 30px;
    padding-left: 40px;
    margin: auto;
}


div.game2_user_input{
    padding-top: 20px;
    margin: auto;
}

div.game-animation{
    -webkit-animation-name: game-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: game-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @keyframes game-animation {
   0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }
 
 /* Standard syntax */
 @keyframes game-animation {
    0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }