div.game-modal-title{
    background-color: #B7BEB5;
    color:white;
}


div.game1_display{
    height: 300px;
    background-color: gray;
    border-radius: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.game1_computer_play{
    color: white;
    font-size: 100px;
    text-align: center;
}

div.game1_computer_play p{
    color: white;
    font-size: 30px;
    margin: auto;
}

div.game1_user_play{
    color: white;
    font-size: 100px;
    text-align: center;
}

div.game1_user_play p{
    color: white;
    font-size: 30px;
    margin: auto;
}

div.game_result{
    text-align: center;
    color: white;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(150, 150, 150);
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}


div.game1_options i {
    color: white;
    font-size: 60px;
    text-align: center
}

div.game1_options p {
    color: white;
    font-size: 24px;
    text-align: center;
}

div.game1_options div.row{
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.game1_options div.row div{
    padding-top: 20px;
    text-align: center;
    margin: auto; 
}

div.game-animation{
    -webkit-animation-name: game-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: game-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @keyframes game-animation {
   0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }
 
 /* Standard syntax */
 @keyframes game-animation {
    0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }