/*This makes the container fade*/


div.container{
    -webkit-animation-name: container; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: container;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @keyframes container {
   0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }  
 
 /* Standard syntax */
 @keyframes container {
    0%   {
        opacity: 0;
       }   
   100%   {
        opacity: 1;
       }
 }




/*APPBAR CSS PROFILE IMAGE*/



div.header-container{
    height: 280px;
    margin-top: 100px;
    background-color:#B7BEB5;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 10;

}
/*This makes the upper part of the page slide up*/
div.slide-animation-up{
    -webkit-animation-name: slide-animation-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slide-animation-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @keyframes slide-animation-up {
   0%   {
        margin-top: 100px;
       }   
   100%   {
        margin-top: 50px;
       }
 }
 
 /* Standard syntax */
 @keyframes slide-animation-up {
    0%   {
        margin-top: 100px;
       }   
   100%   {
        margin-top: 50px;
       }
 }

 /*This makes the upper part of the page slide back to original position*/
div.slide-animation-up-closed{
    -webkit-animation-name: slide-animation-up-closed; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slide-animation-up-closed;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @keyframes slide-animation-up-closed {
   0%   {
        margin-top: 50px;
       }   
   100%   {
        margin-top: 100px;
       }
 }
 
 /* Standard syntax */
 @keyframes slide-animation-up-closed {
    0%   {
        margin-top: 50px;
       }   
   100%   {
        margin-top: 100px;
       }
 }


div.header-profile-image{
    align-items: center;
    margin: auto;
    top: 10px;
    width: 150px;
    height: 150px;
    
}

div.header-profile-image img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.app-page-name {
    margin: auto;
    color: white;
    width: 150px;
    height: 150px auto;
    padding-left: 0x;
    padding-right: 0px;
    text-align: center;
}

div.app-page-name h4 {
    text-align: center;
    margin-top: 10px;
}

