div.contact-app-container{
    width: 98%;
    height: 450px auto;
    margin: auto;
    z-index: 2;
    position: relative;
    border-radius: 5px;
}

div.content-page-title-contact{
    background-color: #B7BEB5;
    color:white;
    height: 50px;
    padding-top: 10px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.contact-app-title{
    background-color: white;
    color: gray;
    height: 280px;
    padding-top: 10px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    top: 20px;
    width: 200px;
    margin-left: 3px;
}

h4.contact-thanks{
    margin-top: 30%;
    margin-left:10%;

}