/*HOME CSS CONFIG*/

div.home-container{
    background-color: white;
    width: 98%;
    height: 430px auto;
    color: #485648;
    margin: auto;
    z-index: 2;
    position: relative;
    border-radius: 5px;
    padding-bottom: 50px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.about-app-title{
    background-color: white;
    color: gray;
    height: 280px auto;
    padding-top: 10px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    top: 20px;
    width: 200px;
    margin-left: 3px;
}

div.home-container-animation {
    -webkit-animation-name: sliderAnime; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: sliderAnime;
    animation-duration: 2s;
    background-color: white;
}
 /* Safari 4.0 - 8.0 */
 @keyframes sliderAnime {
   0%   {
        top: -300px;
       }   
   100%   {
        top: -100px;
       }
 }
 
 /* Standard syntax */
 @keyframes sliderAnime {
    0%   {
        top: -300px;
       }
   100%   {
        top: -100px;
       }
 }

 div.about-text-right h4{
    margin-top: 25px;
 }


