/*CSS CONFIGURATION FOR APP.JS AND OTHER GLOBAL DEFINITIONS*/

/*Full bg image*/
body { 
    background: url(../img/seabg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', Arial;
  }

div.app-page{
    position: relative;
    top: -280px;
    height: 280px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    overflow-y: auto; 
}

/*This makes the bottom part of the page slide down*/
div.slide-animation-down{
    -webkit-animation-name: slide-animation-down; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slide-animation-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes slide-animation-down {
   0%   {
           top:-280px;
       }   
   100%   {
            top:0px;
            height: 450px;
       }
 }
 
 /* Standard syntax */
 @keyframes slide-animation-down {
    0%   {
        top:-280px;
    }   
    100%   {
         top:0px;
         height: 450px;
    }
}

div.slide-animation-close{
    -webkit-animation-name: slide-animation-close; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slide-animation-close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-animation-close {
    0%   {
        top: 0x;
        height: 500px;
    }   
    100%   {
         top:-280px;
         height: 280px;
    }
}

@-webkit-keyframes slide-animation-close {
    0%   {
        top: 0x;
        height: 500px;
    }   
    100%   {
         top:-280px;
         height: 280px;
    }
}

/* Close Button*/
div.app-page-close-button{
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80px;
    line-height: 75px;
    border-radius: 80px;
    top: -40px;
    color: white;
    background-color:gray;
    opacity: 0;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 30;
}

div.app-close-button{
    -webkit-animation-name: app-close-button; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: app-close-button;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

 /* Safari 4.0 - 8.0 */
 @keyframes app-close-button {
   0%   {
           opacity: 0;
           top: -80px;
       }   
   100%   {
            opacity: 1;
            top: -40px;
       }
 }
 
 /* Standard syntax */
 @-webkit-keyframes app-close-button {
    0%   {
        opacity: 0;
        top: -80px;
    }   
100%   {
         opacity: 1;
         top: -40px;
    }
}

/*IF CLOSED = TRUE, HIDE THE CLOSE BUTTON*/
div.closed-button-animation{
    -webkit-animation-name: closed-button-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: closed-button-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes closed-button-animation {
    0%   {
        opacity: 0;
    }   
    100%   {
         opacity:1;
    }
}

@-webkit-keyframes closed-button-animation {
    0%   {
        opacity: 0;
    }   
    100%   {
         opacity:1;
    }
}


/*BOOTSTRAP FIXES AND ADJUSTMENTS*/

.col .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }

  .active{
      font-weight: bold;
      font-size: 18px;
  }