/*APPBAR CSS CONFIG*/

div.navbar-menu{
    margin: auto;
}

ul.navbar-links{
    list-style: none;
    background-color: #798071;
    height: 50px;
    width: 100%;
    margin-top: 55px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    padding-left: 0px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

 }

 ul.navbar-links li{
     display: inline-block;
     height: 60px;
     width: 90px;
     margin-left:5px;
     transition: transform .2s; /* Animation */
     text-align: center;

 }

 ul.navbar-links li:hover{
    transform: scale(1.2);
 }

 ul.navbar-links li a{
     text-decoration: none;
     color: white;
 }





