div.content-page-title-projects{
    background-color: #B7BEB5;
    color:white;
    height: 50px;
    padding-top: 10px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
