
div.content-page-title{
    background-color: #B7BEB5;
    color:white;
    height: 50px;
    padding-top: 10px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.resume-experience-title{
    background-color: #798071;
    color: white;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.resume-experience-title-right{
    background-color: #798071;
    color: white;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.resume-experience-title-right h5{
       color: white;
}
div.resume-experience-title h5{
       color: white;
}

/*CSS FORMATING FOR THE RESUME EXPERIENCE*/

div.resume-experience {
    background-color: #fff;
    padding-top: 5px;
    margin-top: 3px;
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.resume-experience p.resume-date-main{
    color: #485648;
    padding-top: 5px;
    font-family: 'Open Sans', Arial;
    font-weight: 400;
}

div.resume-experience p.resume-date{
    color: gray;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans', Arial;
    font-weight: 400;
}


div.resume-experience p.resume-position{
    color: black;
    font-weight: bold;
    margin-top: -15px;
    font-family: 'Open Sans', Arial;
    font-weight: 400;
}

div.resume-experience p.resume-company{
    color: black;
    font-weight: bold;
    margin-top: -20px;
    font-family: 'Open Sans', Arial;
    font-weight: 100;
}

div.resume-experience p.resume-job-description{
    color: black;
    margin-top: -10px;
    font-family: 'Open Sans', Arial;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
}

p.resume-date-main-skills{
    text-align: left;
    color:#485648;
}

p.resume-skills-text{
    text-align: left;
    position: relative;
    width: 100%;
    left: -50px;
    top: 10px;
}

div.resume-skills-box{
    display: inline-block;
    text-align: left;
}

div.resume-skills-box-skills{
    display: inline-block;
    text-align: left;
    border-right: 1px solid gray;
}

span.resume-skills-bar{
    text-align: left;
    display: inline-block;
    position: relative;
}

.resume-skills-progress{
    height: 10px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

p.resume-skills-text-coding{
    text-align: center;
}

.resume-skills-progress-coding{
    height: 10px;
    width: 230px;
    position: relative;
    top: -10px;
}
