@media only screen and (max-width: 1280px) {

/*ADAPTED ANIMATION FOR 1280PX*/
div.header-container{
    height: 280px;
    margin-top: 20px;
    background-color:#B7BEB5;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 10;

}

div.slide-animation-down{
        -webkit-animation-name: slide-animation-down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: slide-animation-down;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
     /* Safari 4.0 - 8.0 */
@-webkit-keyframes slide-animation-down {
       0%   {
               top:-280px;
           }   
       100%   {
                top:0px;
                height: 450px;
           }
     }
     
     /* Standard syntax */
@keyframes slide-animation-down {
        0%   {
            top:-280px;
        }   
        100%   {
             top:0px;
             height: 450px;
        }
    }



div.slide-animation-up{
    -webkit-animation-name: slide-animation-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: slide-animation-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    }
    
     /* Safari 4.0 - 8.0 */
     @keyframes slide-animation-up {
       0%   {
            margin-top: 20px;
           }   
       100%   {
            margin-top: 20px;
           }
     }
     
     /* Standard syntax */
     @keyframes slide-animation-up {
        0%   {
            margin-top: 20px;
           }   
       100%   {
            margin-top: 20px;
           }
     }

div.slide-animation-up-closed{
        -webkit-animation-name: slide-animation-up-closed; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: slide-animation-up-closed;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
     /* Safari 4.0 - 8.0 */
@keyframes slide-animation-up-closed {
    0%   {
        margin-top: 20px;
       }   
   100%   {
        margin-top: 20px;
       }
 }
     
     /* Standard syntax */
@keyframes slide-animation-up-closed {
    0%   {
        margin-top: 20px;
       }   
   100%   {
        margin-top: 20px;
       }
 }
    
  }